<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nedatatech.datatechportal">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".CustomerMainActivity"
              android:parentActivityName=".MainActivity" >
    </activity>
    <activity android:name=".JobActivity"
              android:parentActivityName=".MainActivity" >
    </activity>
    <activity android:name=".InventoryActivity"
              android:parentActivityName=".MainActivity" >
    </activity>
    <activity android:name=".CompanyActivity"
              android:parentActivityName=".MainActivity" >
    </activity>
    <activity android:name=".CustomerAddEditActivity"
              android:label="@string/customer_editLabel"
              android:parentActivityName=".CustomerMainActivity" >
    </activity>
    <activity android:name=".CustomerSearchActivity"
              android:label="@string/customer_searchLabel"
              android:parentActivityName=".CustomerMainActivity" > <!--Could be different based on how back stack is being managed.-->
    </activity>
  </application>

</manifest>