<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nedatatech.datatechportal">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".mainactivity">

      <!-- <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      -->
      <intent-filter android:label="@string/filter_title_viewgizmos">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
        <data android:scheme="http"
              android:host="www.nedatatech.com"
              android:pathPrefix="/datatechportal" />
        <!-- note that the leading "/" is required for pathPrefix-->
        <!-- Accepts URIs that begin with "example://gizmos” -->
        <data android:scheme="example"
              android:host="gizmos" />

      </intent-filter>


    </activity>
    <activity
        android:name=".CustomerMainActivity"
        android:parentActivityName=".mainactivity"/>
    <activity
        android:name=".JobActivity"
        android:parentActivityName=".mainactivity"/>
    <activity
        android:name=".InventoryActivity"
        android:parentActivityName=".mainactivity"/>
    <activity
        android:name=".CompanyActivity"
        android:parentActivityName=".mainactivity"/>
    <activity
        android:name=".CustomerAddEditActivity"
        android:label="@string/customer_editLabel"
        android:parentActivityName=".CustomerMainActivity"/>
    <activity
        android:name=".CustomerSearchActivity"
        android:label="@string/customer_searchLabel"
        android:parentActivityName=".CustomerMainActivity"> <!-- Could be different based on how back stack is being managed. -->
    </activity>
    <activity android:name=".CustomerListAllActivity"/>
    <activity android:name=".DatabaseTester"/>
    <activity android:name=".todoactivity.ToDoMain">
    </activity>
    <activity android:name=".todoactivity.ToDoAdd">
    </activity>
    <activity android:name=".todoactivity.ToDoEdit">
    </activity>
    <activity android:name=".todoactivity.ToDoView">
    </activity>
    <activity android:name=".fundsactivity.FundsMain">
    </activity>
    <activity android:name=".fundsactivity.FundsCheck">
    </activity>
    <activity android:name=".fundsactivity.FundsView">
    </activity>
    <activity android:name=".fundsactivity.FundsEdit">
    </activity>
    <activity android:name=".fundsactivity.FundsPayment">
    </activity>
  </application>

</manifest>